container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command: "python manage.py shell -c \"from accounts.models import Account; Account.objects.create_superuser('San', 'Man', 'sanjaysan648@gmail.com', 'admin', 'Admin123')\""
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: greatkart.settings