<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p class="text-muted">We are committed to providing the best services.</p>
            </div>
            <div class="col-md-4 text-md-center">
                <h5>Contact Information</h5>
                <p class="text-muted">
                    <span class="px-2">cloudkart@i0</span>
                    <span class="px-2">+782-778-1211</span>
                    <br>
                    <span class="px-2">Elm Street, Sudbury P3C 00W</span>
                </p>
            </div>
            <div class="col-md-4 text-md-right">
                <h5>Payment Methods</h5>
                <i class="fab fa-cc-visa fa-2x px-1"></i>
                <i class="fab fa-cc-paypal fa-2x px-1"></i>
                <i class="fab fa-cc-mastercard fa-2x px-1"></i>
            </div>
        </section>
    </div><!-- //container -->
</footer>

